{{define "channel"}}
    <li>
        <a class='channel' href='/channel?id={{.ChannelId}}'>
            <span class='channelTitle'>{{.ChannelTitle}}</span>
{{/*                <span class='subtitle'><b>Subscribers</b>: {{.Subscribers}}</span>*/}}
        </a>
    </li>
{{end}}