{{define "channel"}}
    <li class="channel-container">
        <a class='channel' href='/channel?id={{.ChannelId}}'>
            <span class='channelTitle'>{{.ChannelTitle}}</span>
        </a>
    </li>
{{end}}