{{define "playlist"}}
    <li>
        <a class="playlist {{.PlaylistClass}}" href='/playlist?list={{.PlaylistId}}'>
            <span class='title'>{{.PlaylistTitle}}</span>
            {{if gt .NewVideos 0}}
                <span class='subtitle'>{{.NewVideos}} new</span>
            {{end}}
        </a>
    </li>
{{end}}