@scope(.video-link) {
    :scope {

        &.ended {
            filter: sepia(1.0);
        }

        & issa-image.poster {
            --w: 100%;

            & img {
                object-fit: cover;
            }
        }

        & .duration {
            position: absolute;
            padding: var(--s-s);
            background: var(--c-highlight);
            border-top-left-radius: var(--br-n);
            border-bottom-right-radius: var(--br-n);
            color: var(--c-foreground);
        }

        & h2 {
            font-size: var(--fs-n);
            line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}




